@CHARSET "ISO-8859-1";

.body,html {

	background: url("#{resource['images:fondo.jpg']}");

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
		
	
	font-family: Arial, sans-serif;	
}	

#SECTION_blurry {
	
	background-color: white;
	
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: #b8bdc4;
	
	opacity: 0.95;
    filter: alpha(opacity=95);
	
}

#page_name {	
	
	text-decoration: none;
	
	font-size: 2.9em;
	font-weight: 400;
	font-family: Impact, fantasy;
	color: #{propertie.color1};
	
}

.link {

	text-decoration: none;
	
	font-size: 0.9em;
	
	color: #{propertie.color1}; 
	
}

#text {
	font-size: 0.9em;
}

.error {
	color: red;
}
